body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

.main-block {
    margin-top: auto;
    color: white;
}

.footer {
    margin-top: auto;
    color: white;
    padding: 20px;
    font-size: 10px;
}

.footer-text {
    width: 700px;
    margin: 0 auto;
}

.dancing-dog {
    border: 5px solid white;
}

.song {
    margin-top: 35px;
    font-size: 13px;
}

.song-title {
    color: white;
}

/* Google Fonts */
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
  
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}